@font-face {
    font-family: 'South Park';
    src: url('south park.ttf');
}

h1 { 
    text-align: center;
    font-size: 40px; 
    font-family: 'South Park';
    margin-top: 5px;
}

#container {
    text-align: center;
    font-size: 25px;
    font-family: 'South Park';
    margin-top: 10%;
}

